<div id="containerBanner">
    <div id="banner">
        <div id="titleBanner">
            <h2>Encuentra</h2>
            <h8>Tu Camino Hacia <br>La Motocicleta De Tus Suenos <br></h8>
     
        </div>
    </div>
</div>

<style>
    @font-face {
        font-family: Captures;
        src: url('/Motos/resources/fonts/Captures.ttf');
    }
    #containerBanner{
        background-color: black;
    }
  #banner{
    margin: 0 auto;
    width: 99%;
    height: 700px;
    background-image: url('/Motos/resources/img/banner.png');
    background-size: cover; 
    background-position: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    top: -2%
  }
  #titleBanner{
    position: relative;
    top: 68%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  #titleBanner h2{
    font-family: 'Captures', sans-serif;
    font-size: 400%;
  }
  #titleBanner h8{
    font-family: 'Barlow', sans-serif;
    font-size: 190%;
  }
  #botonMas{
    background-color: #29aeab;
    color: white;
    border: 1px solid black;
    margin-top: 1%;
    margin-left: 15%;
    padding: 0.5%;
  }
  #botonMas:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }
</style>