<div id="footer">
    <div class="container text-center" id="divCenterLogo">
         <a class="navbar-brand" href="#">
      <img src="/Motos/resources/img/logoFoter.png" width="160" height="120">
    </a>
    <h6 id="h5Footer">Desde 2001</h6>
    </div>
<div class="container text-center" id="fotInterno">
  <div class="row">
    <div class="col" id="divFooter">
      <a class="navbar-brand" href="#">
      <img src="/Motos/resources/img/telefono.png" width="50" height="50">
    </a>
    <h6>+56 9 7432 5945</h6>
    </div>
    <div class="col" id="divFooter">
    <a class="navbar-brand" href="#">
      <img src="/Motos/resources/img/direccion.png" width="50" height="50">
    </a>
    <h6 id="h5Footer">Josué Smith Solar 360, Providencia</h6>
    </div>
    <div class="col" id="divFooter">
      <a class="navbar-brand" href="#">
      <img src="/Motos/resources/img/insta.png" width="50" height="50">
    </a>
    <a class="navbar-brand" href="#">
      <img src="/Motos/resources/img/fbk.png" width="50" height="50">
    </a>
    </div>
  </div>
</div>
<div id="navFooter">
    <h6>Diseñado por <a href="https://www.nucleofactory.cl">@Nucleo Factory.</a>Derechos Reservados a <a href="https://www.trcmotors.cl">@TRC Motors</a></h6>
</div>
</div>

<style>
  #footer{
    width: 100%;
    height: 350px;
    background-image: url('/Motos/resources/img/footer.png');
    background-size: cover; 
    background-position: center;
  }
  #fotInterno{
    padding: auto;
  }
  h5{

  }
  #divFooter {
    margin-top: 5%;
    display: inline-block;
}


#divFooter a.navbar-brand {
    display: inline-block;
    vertical-align: middle; 
}

#divFooter h6 {
    display: inline-block; 
    margin-left: 10px; 
    vertical-align: middle; 
    color: white;
    font-family: 'Barlow', sans-serif;
}
#divCenterLogo{
  margin-top: 5%;
}
#divCenterLogo h6{
    color: white;
    font-family: 'Captures', sans-serif;
    font-size: 100%;
}
#fotInterno .col {
    border-right: 2px solid white; 
}
#fotInterno .col:last-child {
    border-right: none; 
}
#navFooter{
    width: 70%;
    margin: 0 auto;
    margin-top: 1%;
    border-top: 2px solid white;
}
#navFooter h6{
    margin-top: 1%;
    text-align: center;
    color: white;
    font-family: 'Barlow', sans-serif;
}
#navFooter h6 a{
    text-decoration: none;
    color: white;
}

</style>